<div class="menu-shadow top-menu">

<ion-buttons slot="end">
  <ion-menu-button></ion-menu-button>
</ion-buttons>

  <div class="menu-item" 
       (click)="navigate('/home/munich/dinner')"> 
    <ion-icon src="/assets/icon/icon-dinner.svg" class="menu-item-icon"></ion-icon>
    <span class="menu-item-text bold">Dinner</span>
  </div>

  <div class="menu-item-division">
    <div class="vertical-line"></div>
  </div>

  <div class="menu-item" 
       (click)="navigate('/home/munich/bar')">
    <span class="menu-item-text bold disabled">Bar</span>
  </div>

  <div class="menu-item-division">
    <div class="vertical-line"></div>
  </div>

  <div class="menu-item" 
       (click)="navigate('/home/munich/night')">
    <span class="menu-item-text bold disabled">Night</span>
  </div>

  <div class="menu-item-division">
    <div class="vertical-line"></div>
  </div>

  <div class="menu-item" 
       (click)="navigate('/home/munich/sport')">
    <span class="menu-item-text bold disabled">Sport</span>
  </div>

  <div class="menu-item-division">
    <div class="vertical-line"></div>
  </div>

  <div class="menu-item" 
       (click)="navigate('/home/munich/health')">
    <span class="menu-item-text disabled">Health</span>
  </div>

  <div class="menu-item-division">
    <div class="vertical-line"></div>
  </div>

  <div class="menu-item" 
       (click)="navigate('/home/munich/culture')">
    <ion-icon src="/assets/icon/icon-culture.svg" class="menu-item-icon"></ion-icon>
    <span class="menu-item-text bold">Culture</span>
  </div>

  <div class="menu-item-division">
    <div class="vertical-line"></div>
  </div>

  <div class="menu-item" 
       (click)="navigate('/home/munich/soccer')">
    <span class="menu-item-text bold disabled">Soccer</span>
  </div>

  <div class="menu-item-division">
    <div class="vertical-line"></div>
  </div>

  <div class="menu-item" 
       (click)="navigate('/home/munich/speed')">
    <span class="menu-item-text bold disabled">Speed</span>
  </div>

  <div class="menu-item-division">
    <div class="vertical-line"></div>
  </div>

  <div class="menu-item" 
       (click)="navigate('/home/munich/education')">
    <span class="menu-item-text bold disabled">Education</span>
  </div>

  <div class="menu-item-division">
    <div class="vertical-line"></div>
  </div>

  <div class="menu-item" 
       (click)="navigate('/home/munich/wow')">
    <ion-icon src="/assets/icon/icon-wow.svg" class="menu-item-icon"></ion-icon>
    <span style="margin-right: 3px" class="menu-item-text">JUST </span>
    <span class="menu-item-text bold" style="font-size: 17px;">Wow</span>
  </div>

</div>
